*{

    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{

    background: #ffd7d7;
background: radial-gradient(circle farthest-corner at center center, #ffd7d7 60%, #ccffcc 80%);
background: -webkit-radial-gradient(circle farthest-corner at center center, #ffd7d7 60%, #ccffcc 80%);
background: -moz-radial-gradient(circle farthest-corner at center center, #ffd7d7 60%, #ccffcc 80%);
    
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    min: height 100vh; ;
    cursor: url("tiger.cur.png"),auto;
}

.head-ket {
    text-align:center
    margin-top: 20px;
}

.nama-logo-ket {
    display: inline-flex;
    align-items: center;
    gap: 10 px;
}

.nama-logo-ket img {
    width: 55px;
    height: auto;
}

.nama-logo-ket h1 {
    margin: 0;
    animation: colorChange 5s infinite alternate;
    text-shadow:
    0 0 5px white,
    0 0 10px white,
    0 0 15px pink;

}

@keyframes colorChange {
    0% { color:lightpink;}
    25% { color:antiquewhite;}
    50% { color:lightgreen;}
    75% {color:lightblue;}
    100% {color:lightpink;}
}

.header h3 {
    margin-top: 5px
}

footer {
    text-align:center;
}

img {

text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 5%;
margin-bottom: 5%;
width: 75%;
aspect-ratio: 1 / 1;
object-fit:cover;
display:block;

}

.box-ket {
    margin: auto;
margin-top: 25px;
width: 50%;
display:flex;
flex-wrap:wrap;
justify-content: space-around;
max-width: 1000px;
gap: 10px;
}

.kath-music {
    width: 300px;
    background-color: antiquewhite;
    padding: 5px;
    border-radius:8px;
    box-shadow: 0 2px 4px rgba (0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    float:center;

}

.meee {
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba (0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    float: center;
    text-align: center;
    width: 300px;

}

audio {
    width: 90%;
    max-width: 500px;
}

h2 {
    margin-bottom: 5%;
}

p {
font-size : 75%;
}